:root {
  --main-color: #007dc5;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.header .input-container {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 400px;
  height: 40px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.header .task-input {
  border-top-left-radius: 16px;
}

.header .days-input {
  border-bottom-left-radius: 16px;
}

.header button {
  width: 80px;
  height: 92px;
  border: none;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  cursor: pointer;
  background: var(--main-color);
  color: white;
  font-weight: 600;
  transition: 0.6s;
}

.header button:hover {
  background: #00a2ff;
}

.header input:focus {
  outline: none;
  border: 2px solid #00a2ff;
}

.header {
  flex: 30%;
  width: 100%;
  background: #bbe6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.list {
  flex: 70%;
  width: 100%;
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  color: var(--main-color);
  margin: 15px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.task .content {
  flex: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .content span {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(224, 224, 224);
  font-size: 18px;
  border-right: none;
}

.task button {
  flex: 10%;
  height: 100%;
  border: none;
  background: var(--main-color);
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.6s;
}

.task button:hover {
  background: #00a2ff;
}
